* 
{
	margin: 0;
	padding: 0;	
}
body 
{
	font-family: 'Poppins', sans-serif;
}

header 
{
	height: 10vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-bottom: 2px solid #960c0c;
	background-color: rgba(0, 0, 0, 0.7);
}
.nav-area 
{
	float: right;
	list-style: none;
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;
}
.nav-area li 
{
	display: inline-block;
}
.nav-area li a 
{
	color: #fff;
	text-decoration: none;
	padding: 4px 20px;
	font-family: poppins;
	font-size: 1.3rem;
	text-transform: uppercase;
	transition: 1.1s;
}
.nav-area li a:hover 
{
	background:  #960c0c;
	border-radius: 25px;
}
.logo 
{
    float: left;
    width: 8%;
	height: 5%;	
}
.logo img 
{
	width: 50%;
	height: 50%;
	padding: 2%;
}
.welcome 
{
	width: 100vw;
	height: 85vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpaperboat.com/wp-content/uploads/2019/06/black-and-red-24-920x518.jpg);
	background-size: cover;
	background-position: center center;	
	padding-top: 20%;
}
.welcome-text
{
	text-align: center;
}
.welcome-text h1 
{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 5rem;
}
.welcome-text h1 span 
{
	color:  #960c0c;
	animation: glow 2s ease-in-out infinite alternate;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
	border-radius: 25px;
	transition: 1.1s;
	animation: glow 2s ease-in-out infinite alternate;

}
.welcome-text a:hover {
	background: #960c0c;
}
.fix
{
    clear: both;
}
main
{
	margin-top: 4%;
	height: 70vh;
	width: 100vw;
	background-color: white;
	float: left;
	

}


 h1
{
color: #960c0c;
font-size: xx-large;
margin-right: auto;
margin-left: auto;
text-align: center;
padding: 20px;

}

.div1
{
	width: 22%;
	height: 80%;
	float: left;
	margin-right: 5%;
	margin-left: 3%;
	cursor: pointer;
	border: 1px solid #960c0c;
	border-radius: 15px;

	padding: 20px;


}

.div2
{
	width: 22%;
	height: 80%;
	float: left;
	margin-right: 5%;
	margin-left: 3%;
	cursor: pointer;
	border: 1px solid #960c0c;
	border-radius: 15px;
	padding: 20px;


}

.div3
{
	width: 22%;
	height: 80%;
	float: left;
	margin-right: 5%;
	margin-left: 3%;
	cursor: pointer;
	border: 1px solid #960c0c;
	border-radius: 15px;
	padding: 20px;

}

footer
{
	margin-top: 5%;
	background: linear-gradient(#0f0101,#210101);
	height: 5vh;
	width: 100vw;
	color: white;
	text-align: center;
	letter-spacing: 1px;
}

h2
{
	color: black;
	font-size: larger;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 15px;
	
}

main p
{
	text-align: center;
	margin-top: 3%;
}

main a
{
	border: 1px solid black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	color: #9e0d0d;
	border-radius: 15px;
	transition: 1.0s;
}


main a:hover {
	background: #960c0c;
	color: black;
}

/*responsive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 100%; ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}

@keyframes glow {
    from {
      text-shadow: 0 0 20px #960c0c;
    }
    to {
      text-shadow: 0 0 30px #9e0d0d, 0 0 10px #ac0e0e;
    }
  }

 
